html {
	overflow-y:hidden;
} 

body {
	margin:0; 
	padding:0; 
	font-size:13pt; 
	font-family:Georgia, Times, serif; 
	color:#eee; 
	background-color:#423222;
	overflow:hidden;
}

body>div {
	height: 100vh;
	overflow:hidden;
}
p {
	margin-top: 24pt;
	text-indent: 2em;
}
#box_carousel {
	background-color: #a7acb7;
	color: #222;
	width: 100%;
	height: 80%;
	overflow: hidden;
}
#box_slider {
	background-color: #4c4f54;
	color: #111;
	width: 100%;
	height: 20%;
	overflow: hidden;
}
.carousel {
	height: 100%;
	float: left;
	transition: all .5s ease-out;
}
.carousel_hidden {
	width: 0%;
	background-color: #fff;
	color: #fff;
}
.carousel_minimized {
	width: 5%;
	background-color: #423222;
	border: 0.05em #4c4f54 solid;
}
.carousel_visible {
	width: 90%;
}
.carousel_title_active {
	font-size: 20pt;
	font-weight: bold;
	padding-left: 2em;
	/*transition: all .5s ease-out;*/
}
.carousel_title_min {
	font-weight: bold;
	color: #eee;
	font-family: Garamond;
	font-size: 24pt;
	letter-spacing: 5pt;
	position: relative;
	top: 90%;
	left: 35%;
	width: 60vh;
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: left top 0;
	/*transition: all .5s ease-out;*/
	text-align: center;
}
.carousel_title_hidden {
	visibility: hidden;
	margin: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.carousel_content_active {
	width: 100%;
	height: 100%;
}
.carousel_content_hidden {
	visibility: hidden;
}
.info_content {
	font-size: 14pt;
	line-height: 24pt;
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 2.5em;
	float: left;
	width: 60%;
	height: 100%;
}
.picture_slider {
	float: right;
	width: 38%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background: linear-gradient(to right, transparent, #4c4f54);
}
.thumbnail {
	margin-left: 2em;
	margin-top: 2em;
	width: 80%;
}

/*---------------------------
		SLIDER
---------------------------*/

/* Active Slider */
#slider .ui-rangeSlider-bar {
	background: #FFD700;
	height: 178px;
	opacity: 0.5;
	z-index: 2;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border: none !important;
	border-radius: 0;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container, 
.ui-rangeSlider-noArrow .ui-rangeSlider-container, 
.ui-rangeSlider-arrow {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#slider .ui-rangeSlider-container {
	height: 179px;
}

/* Disabled Slider */
.ui-rangeSlider-disabled {
	padding: 0 !important;
	z-index: 1;
}
.ui-rangeSlider-disabled .ui-rangeSlider-label {
	display: none !important;
}
.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container {
	border: none;
	background: none;
}
.ui-rangeSlider-disabled .ui-rangeSlider-bar {
	background: #423222;
}
.ui-rangeSlider-disabled.ui-rangeSlider-withArrows .ui-rangeSlider-container, 
.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container, 
.ui-rangeSlider-disabled .ui-rangeSlider-arrow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}