html {
	overflow-y:hidden;
} 

body {
	margin:0; 
	padding:0; 
	font-size:13pt; 
	font-family:Georgia, Times, serif; 
	color:#eee; 
	background-color:#423222;
	overflow:hidden;
}

body>div {
	height: 100vh;
	overflow:hidden;
}

#box_carousel {
	background-color: #a7acb7;
	color: #222;
	width: 100%;
	height: 75%;
	overflow: hidden;
}
#box_slider {
	background-color: #878a96;
	color: #111;
	width: 100%;
	height: 25%;
	overflow: hidden;
}
.carousel {
	height: 100%;
	float: left;
	transition: all .5s ease-out;
}
.carousel_hidden {
	width: 0%;
	background-color: #fff;
	color: #fff;
}
.carousel_minimized {
	width: 5%;
	background-color: #eee;
	color: #000;
}
.carousel_visible {
	width: 90%;
}
.carousel_title_active {
	font-size: 20pt;
	font-weight: bold;
	padding-left: 2em;
	/*transition: all .5s ease-out;*/
}
.carousel_title_min {
	font-size: 20pt;
	font-weight: bold;
	position: relative;
	top: 90%;
	left: 35%;
	width: 60vh;
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: left top 0;
	/*transition: all .5s ease-out;*/
	text-align: center;
}
.carousel_title_hidden {
	visibility: hidden;
}
.carousel_content_active {
	width: 100%;
	height: 100%;
}
.carousel_content_hidden {
	visibility: hidden;
}
#info_content {
	font-size: 14pt;
	padding-top: 0pt;
	padding-left: 2em;
	padding-right: 2.5em;
	float: left;
	width: 72%;
	height: 100%;
}
#picture_slider {
	float: right;
	width: 20%;
	height: 100%;
}